#generator{
  font-family: monospace;
  margin: 0;
  padding: 0;
}

html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body{
  height: 100%;
  width: 100%;
}

h2{
  text-align: center;
  width: 100%;
  margin: 5px;
}

p{
  background-color: white;
  border-style: solid transparent;
  border-radius: 5px;
  padding: 5px;
}

#leftSection{
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 20px;
}

#rightSection{
  width: 50%;
  float: right;
  box-sizing: border-box;
  padding: 20px;
}

input{
  margin-bottom: 10px;
}

select{
  margin-bottom: 10px;
}

#tutorial{
  width: 100%;
  left: 60%;
  overflow: wrap;
  margin-bottom: 10px;
  padding: 20px;
  background-color: lightgrey;
  border-style: solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}

#listArea{
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-style: solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}

#list{
  width: 100%;
}

#list div{
  background-color: white;
  border-style: solid transparent;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

h4{
  background-color: white;
  border-style: solid transparent;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  margin-bottom: 10px;
}

.question h4{
  margin-bottom: 0;
  padding: 0;
}

h5{
  margin: 0;
  margin-left: 40px;
  margin-top: 10px;
}

#newQuestion{
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-style: solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}

#download{
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-style: solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}
.btn{
  display: inline-block;
  margin-bottom: 0;
  padding: 0.6em 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #002147;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #FFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  line-height: 1.42857;
}

.warning{
  margin: 5px;
  margin-left: 0;
  border-style: solid transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #F0E0E0;
  color: red;
}

.success{
  position: absolute;
  border-style: solid transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #E0F0E0;
  color: green;
}

#newResult{
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-style: solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}

#newAnswer{
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-style: solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}

#delete{
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-style: solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}

#questionArea{
  border-style: solid transparent;
  border-radius: 10px;
  height: 60vh;
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  background-color: lightgrey;
}

#answersArea{
  position: relative;
  margin: 10px;
  padding: 20px;
  border-style: solid transparent;
  border-radius: 10px;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
}

.answerButton{
  margin: 10px;
  min-height: 10vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.questionDisplay{
  font-size: 3em;
  text-align: center;
}

#resultsArea{
  border-style: solid;
  background-color: lightgrey;
  border-width: 10px;
  border-radius: 20px;
  border-color: white;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.resultDisplay{
  font-size: 3em;
  vertical-align: text-bottom;
  text-align: center;
}

.resultDescription{
  font-size: 1.8em;
  text-align: center;
  display: inline-block;
  padding: 20px;
}

#quiz{
  margin: 0;
  padding: 0;
}

.hidden{
  display: none !important;
}
